body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('simple.jpg');
    background-repeat: no-repeat;   
    background-size: cover;         
    background-position: center;    
