*{
}

header{
background:#333;
color:white;
padding:15px;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-right:15px;
}

nav ul li a{
color:white;
text-decoration:none;
padding:8px 12px;
}

nav ul li a.active{
background:#555;
border-radius:5px;
}

table {
  width: 100%; /* Table fills the page width */
  font-size: 18px; /* Make text bigger */
  border-collapse: collapse; /* Remove extra space between borders */
}

th, td {
  padding: 12px; /* Add space inside cells */
  text-align: left;
  border: 1px solid #333; /* Add border for clarity */
}

.container{
padding:20px;
}

img{
max-width:100%;
}

footer{
background:#767070;
color:white;
text-align:center;
padding:15px;
margin-top:20px;
}

/* Responsive */

@media(max-width:768px){

nav ul{
flex-direction:column;
}

nav ul li{
margin:5px 0;
}

nav ul li a{
display:block;
background:#af35c7;
}

}
