body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(94, 144, 144);
    padding: 50px 100px 150px 10px; /*top right bottom left*/
}

main {
    background-color: burlywood;
}

.mainpicture {
    background-color: rgb(148, 241, 232);
    width: 150px;
    margin: 50px 80px
    
}




.mainpicture img {
    width: 150px;

}



footer {
    background-color: rgb(211, 199, 219);
    border: 10px solid black
    /*border-width:10px;
    border-color: black
    border-style: dotted;*/

}